$config: (
  MediaQuery: (
    xs: 480px,
    s: 640px,
    m: 960px,
    lg: 1024px,
    xl: 1200px
  ),
  flexbox: (
    direction: (
      r: row,
      c: column,
      rr: row-reverse,
      cr: column-reverse
    ),
    wrap: (
      w: wrap,
      wr: wrap-reverse,
      nw: nowrap
    ),
    orden: (
      start: 0,
      end: 9
    ),
    grow: (
      start: 0,
      end: 9
    ),
    basis: (
      start: 0,
      end: 9
    ),
    shrink: (
      start: 0,
      end: 9
    )
  ),
  grid: (
    template: (
      columns: (
        valor: 12,
        width: 1fr
      ),
      row: (
        valor: 12,
        height: 1fr
      )
    ),
    auto: (
      columns: auto,
      flow: (
        r: row,
        c: column,
        d: dense,
        rd: row dense,
        cd: column dense
      ),
      rows: auto
    ),
    column: (
      start: 1,
      end: 13
    ),
    row: (
      start: 1,
      end: 13
    )
  )
);