$core:css;

@import "scss/config.scss";
@import "scss/Api/api.scss";

@import "scss/MediaQuery/MediaQuery.scss";
@import "scss/Flexbox/Flexbox.scss";
@import "scss/Grid/Grid.scss";
@import "scss/Align/Align.scss";
@import "scss/Box-Model/BoxModel.scss";

$flexbox:get-value($config, "flexbox");
$grid:get-value($config, "grid");
$align:get-value($config,"boxalign");
$bm:get-value($config,"boxmodel");
$mq:get-value($config, "MediaQuery");
$unidad:"%";
$valor:1;

@include MediaQuery(s){
    .dev{
        @include flexbox();
        @include direction(row);
        @include wrap(nowrap);
        @include orden(1);
        @include grow(1);
        @include basis(1);
        @include shrink(1);
        @include grid();
        @include template-columns(1);
        @include template-rows(1);
        @include auto-columns(auto);
        @include auto-rows(auto);
        @include auto-flow(auto);
        @include column-start(1);
        @include column-end(1);
        @include row-start(1);
        @include row-end(1);
        @include align-content(center);
        @include align-items(center);
        @include align-self(center);
        @include justify-content(center);
        @include justify-items(center);
        @include justify-self(center);
        @include column-gap(1fr);
        @include row-gap(1fr);
        @include height(1%);
        @include width(1%);
        @include margin-bottom(1%);
        @include margin-top(1%);
        @include margin-left(1%);
        @include margin-right(1%);
        @include padding-bottom(1%);
        @include padding-top(1%);
        @include padding-left(1%);
        @include padding-right(1%);
        @include visibility(hidden);
    }
}

@include UtilitiesFlexbox($mq,$flexbox,$core);
@include UtilitiesGrid($mq,$grid,$core);
@include UtilitiesAlign($mq,$align,$core);
@include UtilitiesBoxModel($mq,$bm,$core);