@mixin flexbox(){
    display:flex;
}

@mixin direction($valor){
    flex-direction:$valor;
}

@mixin wrap($valor){
    flex-wrap:$valor;
}

@mixin orden($valor){
    flex-wrap:$valor;
}

@mixin grow($valor){
    flex-grow:$valor;
}

@mixin basis($valor){
    flex-basis:$valor;
}

@mixin shrink($valor){
    flex-shrink:$valor;
}

@mixin UtilitiesFlexbox($mq,$propiedad,$core){
    @if $core == css{
        @each $Breackpoint, $MediaQuery in $mq{
            @media screen and (min-width:#{$MediaQuery}) {
                @each $subselector, $subvalor in $propiedad {
                    @if $subselector == direction {
                        @each $selector, $valor in $subvalor {
                            .#{$subselector}-#{$selector}-#{$Breackpoint}{
                                flex-direction:$valor;
                            }
                        }
                    }@else if $subselector == wrap{
                        @each $selector, $valor in $subvalor {
                            .#{$subselector}-#{$selector}-#{$Breackpoint}{
                                flex-wrap:$valor;
                            }
                        }
                    }@else if $subselector == orden{
                        $start:get-value($config,"flexbox","orden","start");
                        $end:get-value($config,"flexbox","orden","end") + 1;
                        @each $selector, $valor in $subvalor {
                            @for $i from $start to $end {
                                .#{$subselector}-#{$i}-#{$Breackpoint}{
                                    flex-wrap:$i;
                                }
                            }
                        }
                    }@else if $subselector == grow{
                        $start:get-value($config,"flexbox","grow","start");
                        $end:get-value($config,"flexbox","grow","end") + 1;
                        @each $selector, $valor in $subvalor {
                            @for $i from $start to $end {
                                .#{$subselector}-#{$i}-#{$Breackpoint}{
                                    flex-grow:$i;
                                }
                            }
                        }
                    }@else if $subselector == basis{
                        $start:get-value($config,"flexbox","basis","start");
                        $end:get-value($config,"flexbox","basis","end") + 1;
                        @each $selector, $valor in $subvalor {
                            @for $i from $start to $end {
                                .#{$subselector}-#{$i}-#{$Breackpoint}{
                                    flex-basis:$i;
                                }
                            }
                        }
                    }@else if $subselector == shrink{
                        $start:get-value($config,"flexbox","shrink","start");
                        $end:get-value($config,"flexbox","shrink","end") + 1;
                        @each $selector, $valor in $subvalor {
                            @for $i from $start to $end {
                                .#{$subselector}-#{$i}-#{$Breackpoint}{
                                    flex-shrink:$i;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}