@mixin flexbox($core){
    @if $core == css{
        .Display-Flex{
            display:flex;
        }
    }@else{
        display:flex;
    }
}

@mixin directions($core,$direction){
    @if $core == css{
        .Direction-#{$direction}{
            flex-direction:$direction;
        }
    }@else{
        flex-direction:$direction;
    }
}

@mixin wrap($core,$wrap){
    @if $core == css{
        .Wrap-#{$wrap}{
            flex-wrap:$wrap;
        }
    }@else{
        flex-wrap:$wrap;
    }
}

@mixin orden($core,$orden){
    @if $core == css{
        .Orden-#{$wrap}{
            flex-wrap:$wrap;
        }
    }@else{
        flex-wrap:$wrap;
    }
}

@mixin grow($core,$grow){
    @if $core == css{
        .Grow-#{$grow}{
            flex-grow:$grow;
        }
    }@else{
        flex-grow:$grow;
    }
}

@mixin basis($core,$basis){
    @if $core == css{
        .Basis-#{$basis}{
            flex-basis:$basis;
        }
    }@else{
        flex-basis:$basis;
    }
}

@mixin shrink($core,$shrink){
    @if $core == css{
        .Shrink-#{$shrink}{
            flex-shrink:$shrink;
        }
    }@else{
        flex-shrink:$shrink;
    }
}